html, body {
    padding:0;
    margin:0;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    left:0;
    right:0;
    top:0;
    height: 60px;
    width: 100%;
    padding: 5px 0px 5px 0px;
    background-color: rgba(255, 255, 255, 0.87);
    overflow: hidden;
    z-index: 200;
}


.logo{
    height: 120%;
}

.navbutton{
    background-color: #ff9500;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    margin-right: 30px;
    font-size: 1.3rem;
}

.navbutton:hover{
    background-color: #0d94b9;
}

.hero{
    background-image: url(./assets/herobg2.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 1000px #00c8ff63;
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.container{
    height:auto;
    padding-top: 95px;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.right{
    width: 30%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.199);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    align-items: center;
}

.left{
    width: 70%;
    padding: 10px;
    margin: 15px;
    height: auto;
    text-align: left;
    color: white;
}

.maindesc{
    font-size: 1.5rem;
    line-height: 2.2rem;
}
.title{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3rem;
    color: white;
    margin-top: 0px;
}

.price{
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5vw;
    margin-top: 20px;
    background-color: white;
    width: 60%;
    padding: 5px 0px 5px 0px;
    text-align: center;
}

.pricetag{
    color: #0d94b9;
}

.amount{
    color: #ff9500;
}

.kapcsolat{
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}
  
.contacttitle{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}
.form-field{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    position: relative; 
}

.input{

    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
    filter: opacity(70%);
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    outline: 0;
}

textarea{
    height: 105px;
    width: 97%;
    border: 1px solid white;
    border-radius: 10px;
    filter: opacity(70%);
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    outline: 0;
    resize: none;
    font-family: 'Raleway', sans-serif;
}

.button{
    background-color: #ff9500;
    color: white;
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    padding: 20px 50px 20px 50px;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin-top: 40px;
}

.button:hover{
    background-color: #0d94b9;
}

.phone{
    color: white;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 1.5rem;
}

.phone a{
    color: white;
}

.thankyou_message{
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

.gallerycon{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    
    flex-direction: column;
    height:auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.gallery{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;
    width: 75%;
}

.gallerycon .title{
    color: #ff9500;
    text-align: center; 
    margin-top: 20px;
}

.about{
    width: 30%;
    height:auto;
    padding: 10px;
    margin-left:15px;   
    margin-right:15px;  
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.abouttext{
    height: auto;
    width: 100%;
    text-align: justify;
    margin-bottom: 20px;
    color: rgb(85, 85, 85);
}

.about .fas{
    color: #ff9500;
    font-size: 4rem;
    margin-bottom: 20px;
}

.mainImg{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainImg>img {
    height: 60%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    filter: grayscale(70%);
    align-self: center;
}

.mainImg :hover {

    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    filter: grayscale(0%); 
}

.desccont{
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 0 0 1000px #ffffff8c;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/herobg2.jpg);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}

.describe{
    width: 75%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.describe .title{
    text-align: center;
    color: #ff9500;
    
}

.describe p{
    color: rgb(85, 85, 85);
    margin-bottom: 10px;
    padding-right: 20px;
    padding-left:20px;
}

.describe .button{
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.erdekel{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 20px;
}

.describe .phone2{
    text-align: center;
    color: rgb(85, 85, 85);
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}


.describe a{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}

.descmain{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cimer{
    width: 25%;
    padding: 20px;
}

.cimer img{
    width: 190px;
}

.phoneicon{
    color: rgb(85, 85, 85);
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.gmap{
    height: 400px;
    background-color: #ff9500;
    width: 100%;
    position: relative;
}

.footer{
    width: 100%;
    background-color: #ff9500;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.creator{
    color: white;
    font-size: 0.8rem;
}

.creator a{
    text-decoration: none;
}

@media(max-width: 792px) {

    .container{
        min-height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left{
        width: 90%;
        height: 30%;
        margin:0px;
    }

    .mid{
        width: 90%;
        height: 30%;
    }

    .right{
        width: 90%;
        height: 30%;
    }

    .price{
        font-size: 1.8rem;
        width: 100%;
    }

    .gallery{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .about{
        width: 100%;
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .abouttext{
        padding: 10px;
        width: 90%;
    }

    .mainImg{
        display: flex;
        justify-content: center;
        width: 90%;
        height: 50%;
    }

    .descmain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   .describe{
        width:100%;
    }

    .describe .button{
        padding: 20px 0px 20px 0px;
        font-size: 1rem; 
        width: 90%;
    }

    .describe a{
        width: 100%;
    }

    .button{
        font-size: 1rem;
    }
    .navbutton{
        font-size: 1rem;
    }

    .cimer img{
        width: 100px;
    }
}
  